<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper App</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="/static/images/observer_logo2.png" width="60" height="60" alt="Logo">
            <span class="navbar-brand-text">Digital Copy Portal</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.newspapers') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.advertising') }}">Advertise with Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">Contact Us</a>
                </li>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.upload_file') }}">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.admin') }}">Admin Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
                    </li>
                   
                {% endif %}
            </ul>
            
            <!-- User Profile Icon -->
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }} 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('main.profile') }}">My Profile</a>
                        <a class="dropdown-item" href="{{ url_for('main.newspapers') }}">View Latest Issue</a>
                        <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
            {% endif %}

        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

     <!-- Adsense Placeholder -->
     <!-- <div class="adsense-placeholder">
        Adsense goes here
    </div> -->

    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <span>&copy; 2024 The Nigerian Observer Digital Copy. All rights reserved.</span>
            <a href="mailto:amadasunese@gmail.com">Ese Amadasun</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
