{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Newspaper App!</h1>
    <p class="lead">Your one-stop hub for the latest news in PDF format.</p>
    <hr class="my-4">
    <p>Access a wide range of newspapers from around the world. Login or register to start reading.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('main.login') }}" role="button">Login</a>
    <a class="btn btn-success btn-lg" href="{{ url_for('main.register') }}" role="button">Register
{% endblock %}