<!-- newspapers.html -->
{% extends "base.html" %}

{% block content %}

     <!-- Adsense Placeholder -->
     <div class="adsense-placeholder">
        Adsense goes here
    </div>
<div class="container">
    <h3>To subscribe, select any of the edition of The Nigerian Observer</h3>
    <div class="row">
        {% for newspaper in newspapers[::-1] %}
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <img src="{{ url_for('static', filename='pdfs/' + (newspaper.thumbnail or 'default.jpg')) }}" class="card-img-top" alt="{{ newspaper.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ newspaper.title }}</h5>
                    <p class="card-text">{{ newspaper.summary }}</p>
                    {% if newspaper.id in subscribed_newspapers %}
                        <a href="{{ url_for('main.read_newspaper', newspaper_id=newspaper.id) }}" class="btn btn-success">Read</a>
                    {% else %}
                        <a href="{{ url_for('main.subscribe_and_pay', newspaper_id=newspaper.id) }}" class="btn btn-primary">Subscribe</a>
                    {% endif %}
                    {% if current_user.is_admin %}
                        <form action="{{ url_for('main.delete_newspaper', newspaper_id=newspaper.id) }}" method="POST" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
