<!-- payment.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Subscribe to {{ newspaper.title }}</h2>
    <img src="{{ url_for('static', filename='pdfs/' + newspaper.thumbnail) }}" alt="{{ newspaper.title }}" style="width: 200px; height: auto;">
    <!-- <img src="{{ url_for('static', filename='pdfs/' + newspaper.thumbnail) }}" alt="Issue" style="width: 400px; height: auto;"> -->
    <p>{{ newspaper.description }}</p>
    <!-- Payment form or button goes here -->
    <a href="{{ url_for('main.payment', newspaper_id=newspaper.id) }}" class="btn btn-success">Proceed to Payment</a>
</div>
{% endblock %}
